body
{
	margin: 0;
	background: white;
	font-family: book antiqua;

}


header{
	
	padding: 40px 200px 20px 200px;
	height: 200 px;
	margin:0;
	background: lightpink;
	color: white;
	
}
header h1{
	
	text-align: center;
	height:80 px;
	background: lightpink;
	color: black;
	font-size: 500%;
	
}

nav ul li{
	background:lightpink;
	display: inline-block;
	list-style-type: none;
	padding: 0 50px;
	font-size: 110%;
	
}
nav ul li a{
	color: black;
}
body h2{
	text-align: center;
	font-size: 200%;

}
body p{
	text-align: left;
	fontsize: 150%;
	padding-bottom: 20px;
}

body p img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 8px;
	padding-top: 100px;
	
}
body ul li{
	text-align:left;
	list-style-type: none;
	font-size: 110%;
	padding: 20px;
}

body ul a{
	display: inline;
	text-align: center
}

body ul img{
	
	margin:0;
	width: 30%;
	height: auto;
	border-radius: 8px;
	padding-top: 50px;
  
}
body img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 8px;
	padding-top: 100px;
}
